.btn {
	display: inline-block;
    min-width: 123px;
    font-size: 14px;
	box-shadow: 0 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
	padding: 19px 20px 20px;
	cursor: pointer;
	transition: all 0.3s linear;
    &.has-arrow {
        min-width: 192px;
        position: relative;
        padding-right: 50px;
        &:after {
            content: url(#{$img_dir}icons/arrow-right-sm-white.svg);
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 38px;
            margin-top: -8px;
        }
    }
}
.btn-primary {
    background-color: $primary;
}
.btn-skyblue {
    background-color: rgba($color: $primary, $alpha: 0.1);
    &.text-primary {
        color: $primary !important;
    }
    &:hover {
        background-color: rgba($color: $primary, $alpha: 0.07);
    }
}
.btn-standard {
	min-width: 162px;
}

.btn-h-md {
	padding: 15px 20px;
}