#footer {
    background-color: #2b2b39;
    padding: 58px 0;
    .logo {
        margin-right: 110px;
    }
}
#footer-nav {
    a {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin: 10px 47px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.social-links {
    a {
        display: inline-block;
        background-color: #fff;
        border-radius: 100px;
        margin: 4px;
        padding: 4px 7px;
    }
}
@media (max-width: 1399px) {
    #footer-nav {
        a {
            margin: 10px 40px;
        }
    }
}

@media (max-width: 1199.98px) {
    #footer {
        padding: 44px 0;
        .logo {
            margin-right: 80px;
        }
    }
    #footer-nav {
        a {
            font-size: 18px;
            margin: 10px 20px;
        }
    }
}
@media (max-width: 991.98px) {
    #footer {
        text-align: center;
        .logo {
            margin-right: 0;
        }
    }
    #footer-nav {
        a {
            &:first-child {
                margin: 10px 20px;
            }
        }
    }
}
@media (max-width: 575.98px) {
    #footer {
        padding: 30px 0;
    }
    #footer-nav {
        a {
            display: block;
            font-size: 16px;
            margin: 5px 0;
        }
    }
}