$img_dir: "../images/" !default;
.form-control {
    &:focus {
        background-color: transparent;
        border-bottom: 1px solid #3f3f3f;
        box-shadow: none;
    }
}
.input-search {
    background-color: transparent;
    width: 117px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background-image: url(#{$img_dir}icons/icon-search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px;
    padding: 14px 8px;
    &.has-icon {
        padding: 14px 8px 14px 18px;
    }
}
@media (max-width: 575.98px) {
    .input-search {
        width: 100%;
    }
}