header {
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}
.navbar {
    border-bottom: 1px solid rgba($color: $primary, $alpha: 0.1);
    padding: 2px 0;
    .navbar-nav {
        .nav-link {
            font-size: 14px;
            color: #656464;
            font-weight: 500;
            margin: 0 8px;
            padding: 30px 8px;
            &:hover,
            &.active {
                color: #2b2b39;
            }
            &.active {
                font-weight: 600;
            }
        }
        .dropdown-item {
            font-size: 14px;
        }
    }
}
@media (max-width: 575.98px) {
    .navbar {
        .navbar-nav {
            .nav-link {
                margin: 6px 0;
                padding: 8px 16px;
            }
        }
    }
}